name: Linear
description: Linear template for Jekyll

baseurl: "" # the subpath of your site, e.g. /blog
url: "http://immutable.run" # the base hostname & protocol for your site

source: .
destination: ./_site
plugins: ["jekyll-paginate", "jekyll-sitemap", "jemoji"]

# html minify
compress_html:
  clippings: all
  comments: all
  endings: []
  profile: false

paginate: 10
paginate_path: /templates/page-:num
permalink: /templates/:title/

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
