name: Linear
description: Linear template for Jekyll

baseurl: "" # the subpath of your site, e.g. /blog
url: "http://immutable.run" # the base hostname & protocol for your site

source: .
destination: ./_site
plugins: ["jekyll-paginate", "jekyll-sitemap", "jemoji"]

markdown: kramdown
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge

# html minify
compress_html:
  clippings: all
  comments: all
  endings: []
  profile: false

paginate: 10
paginate_path: /posts/page-:num
permalink: /posts/:title/

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"